*.unity3d filter=lfs diff=lfs merge=lfs -text
*.bc filter=lfs diff=lfs merge=lfs -text
Library/il2cpp_cache/linkresult_00A6340C5546B762E047D713EA3D1FB7/build.bc filter=lfs diff=lfs merge=lfs -text
